# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\tjalw\Documents\GitHub\OOP-Exercises\Assignments\Week 9\Tjalle\assignment-snake-start\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
